<launch>
	<include file="$(find ca20n_description)/launch/load_ca20n.launch" />
	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" >
		<rosparam param="source_list">["/my/joint_states"]</rosparam>		
	</node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find ca20n_description)/config/robot_state_visualize.rviz" required="true" />
</launch>
